extends layout

block content
    form.compare-form.js-Compare-Form(action='.')
        div.compare-form__layout
            div.compare-form__layout-field
                input.form-control.js-Compare-Form-Url(
                    type='url',
                    tabindex='1',
                    placeholder='URL',
                    required,
                    autofocus
                )
            div.compare-form__layout-field
                input.form-control.js-Compare-Form-Url(
                    type='url',
                    tabindex='2',
                    placeholder='URL',
                    required
                )
            div.compare-form__layout-submit
                button.btn.btn_block.js-Compare-Form-Submit(
                    type='submit',
                    value='Compare',
                    tabindex='3'
                ) Compare

        div.compare-form__error.hidden.js-Compare-Form-Error

        ul.compare-form__links
            li.compare-form__links-item
                span.pseudo-link.js-Compare-Form-Get-Examples Get examples
            li.compare-form__links-item
                span.pseudo-link.js-Compare-Form-Clear Clear form


    div.compare.hidden.js-Compare-Products-Container
